<div class="row">
  <div class="col-6">
    <form #form="ngForm" (ngSubmit)="loginUser()">
      <div class="mb-3">
        <label for="username" class="form-label">Username</label>
        <input type="text" class="form-control" id="username" name="username" maxlength="75" [(ngModel)]="loginRequest.Username">
      </div>
      <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" maxlength="13" [(ngModel)]="loginRequest.Password">
      </div>
      <button type="submit" class="btn btn-primary">Login</button>
    </form>
  </div>
</div>
